@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wendy+One&display=swap");

@import "tailwindcss";

@plugin "daisyui";

/* button default styles */
.btn-base {
  @apply btn btn-primary text-white px-4 py-2 rounded;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* colors for my ui  */
  --color-primaryBgColor: #d22526;
  --color-ctaColor: #ffb833;
  /* text colors  */
  --color-creamyWhite: #ffffff;
  --color-charcoalSlate: #333333;
  --color-softGray: #666666;
  /* background color on light mode  */
  --color-lightMist: #f8f9fa;

  /* animations  */
  --animate-fade-in-scale: fade-in-scale 0.5s ease-in-out;
  --animate-scroll: scroll 20s linear infinite;

  /* font family  */
  --default-font-family: Poppins, sans-serif;
  --font-logoFont: "Wendy One", sans-serif;

  /* fade in animation  */
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  /* scroll animation horizontally  */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
